<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<!-- 공통 헤드 -->
<th:block th:replace="/layout/fragments/head :: headFragment"></th:block>

    <div>
        <th:block th:replace="/layout/fragments/nav :: navbarFragment"></th:block>
    </div>

    <th:block layout:fragment="content">
        <div>
            <!-- 메인페이지 내용 작성 -->
            <!-- 메인페이지 사진 파일 넣기 -->
            <div id="intro">
                <div class="container text-center bg-white py-4 pb-5">
                    <img src="/images/" alt="" style="width: 300px; height: 300px;">
                    <h1 class="pt-5" style="font-weight: bold;">우리 여행을 떠나볼까요?</h1>
                    <a href="/mbti/test" class="btn my-2" style="color: rgb(26, 188, 156)">mbti tour</a>
                </div>
            </div>

            <!-- 메인페이지 인기글, 인기여행지 출력 -->

        </div>
    </th:block>
<th:block th:replace="/layout/fragments/script :: scriptFragment"></th:block>
</html>